body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Цвет фона, темная тема */
    color: #fff; /* Цвет текста */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #1f1f1f; /* Цвет контейнера для входа */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    outline: none;
    text-align: center; /* Центрировать текст внутри поля ввода */
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    background-color: #0073e6; /* Цвет кнопки войти */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055a4; /* Цвет кнопки при наведении */
}

@media (max-width: 768px) {
    .login-container {
        width: 80%;
    }
}
